@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-transparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --orange-dimmed: #ea7600;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;

  color: var(--dark);
  font: 16px/1.6em "Open Sans", sans-serif;
}

.container {
  width: 1110px;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header,
nav,
section,
footer {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100vw;

  padding: 100px 0;
}

/* Sections background styles */
header::before,
section::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

section:nth-child(even) {
  background-color: var(--brown);
}

#video-section::before {
  background-image: none;
}

nav {
  background-color: var(--main-dark);
}

/* Common Sections styles */
.section-image {
  margin-right: 30px;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

section .tagline {
  margin: 0;

  color: var(--dark-transparent);

  font: 400 24px Neucha, cursive;
}

section h2 {
  margin: 0 0 30px;
}

section .description {
  color: var(--dark);
  font: 400 34px Neucha, cursive;
}

section h4 {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  color: var(--white);

  font: 700 14px "Open Sans", sans-serif;
  text-transform: uppercase;

  background: var(--brown);
}

section .col-2 div p:first-of-type {
  margin-top: 0;
}

/* Styles for even sections with dark background */
section:nth-child(even) .tagline {
  color: var(--white-transparent);
}

section:nth-child(even) h2,
section:nth-child(even) .description,
section:nth-child(even) p {
  color: var(--white);
}

section:nth-child(even) h4 {
  color: var(--brown);

  background: var(--white);
}

/* Header styles */
header h1 {
  margin: 0 0 185px;
}

header img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;

  overflow: hidden;
}

.btn {
  display: block;
  border: none;

  padding: 12px 24px;

  color: var(--white);
  background-color: var(--main);
}

.btn:hover {
  background-color: var(--orange-dimmed);
}

.btn-header {
  width: max-content;

  margin-top: 40px;

  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-feedback {
  position: relative;

  width: 70px;
  height: 50px;
}

.btn-feedback::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 100%;

  background: url("../assets/images/send.svg") center no-repeat;
  transform: translateY(-50%);

  content: "";
}

/* Video Section styles */
#video-section h2,
#video-section p {
  margin: 0;
}

#video-section .video {

  z-index: 9999;

  margin-bottom: -200px;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

/* Navigation Section styles */
#navigation {
  padding-top: 200px;
}

.nav-header {
  flex: 0 0 350px;
}

.nav-header h2 {
  margin: 0;

  color: var(--white);

  font-size: 52px;
}

.nav-card {
  flex: 1 1 350px;
  padding: 24px;

  text-decoration: none;

  background-color: var(--white);
}

.nav-card > span {
  margin-bottom: 40px;

  color: var(--main-dark);
  font: 64px/1 Neucha, cursive;
}

.nav-card > h3 {
  margin-bottom: 16px;

  color: var(--main);
}

.nav-card > p {
  color: var(--dark);
}

.nav-card:hover {
  background-color: var(--main);
}

.nav-card:hover > span,
.nav-card:hover > h3,
.nav-card:hover > p {
  color: var(--white);
}

/* Footer styles */
.feedback {
  width: 100%;
  height: 190px;

  background-color: var(--main-dark);
}

.feedback form {
  width: 100%;

  margin-right: 55px;
}

.feedback form label {
  color: var(--white);
  font-size: 18px;
}

.feedback form input {
  display: block;
  box-sizing: border-box;

  width: 100%;
  height: 50px;

  padding: 15px;

  background: var(--white);
  border: none;
}

.feedback form .terms,
.feedback form .terms a {
  color: var(--white);
  font-size: 12px;
}

.contacts {
  margin-top: 60px;

  text-align: center;
  font-size: 14px;
  color: #000000;
}

.contacts a {
  color: #1085C5;
}


.text-white {
  color: var(--white);
}

.text-orange {
  color: var(--main);
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.col-2 {
  display: flex;

  column-gap: 30px;
}

.col-2 > * {
  width: 50%;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.row-gap-20 {
  row-gap: 20px;
}

.row-gap-30 {
  row-gap: 30px;
}

.col-gap-30 {
  column-gap: 30px;
}

.m-0 {
  margin: 0;
}

.m-55px {
  margin: 55px;
}

.w-100 {
  width: 100%;
}
