@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-transparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --orange-dimmed: #ea7600;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;

  color: var(--dark);
  font: 16px/1.6em "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header,
nav,
section {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100vw;

  padding: 100px 0;
}

header::before,
nav::before,
section::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

#video-section::before {
  background-image: none;
}

nav::before {
  background-color: var(--main-dark);
  background-image: none;
  opacity: 1;
}

.container {
  width: 1110px;
}

header h1 {
  margin: 0 0 185px;
}

header img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;

  overflow: hidden;
}

.col-2 {
  display: flex;

  column-gap: 30px;
}

.col-2 > * {
  width: 50%;
}

.btn {
  display: block;

  width: max-content;

  margin-top: 40px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main);
}

.btn:hover {
  background-color: var(--orange-dimmed);
}

#video-section h2,
#video-section p {
  margin: 0;
}

#video-section .video {
  margin-bottom: -200px;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

#navigation {
  padding-top: 200px;
}

.nav-header {
  flex: 0 0 350px;
}

.nav-header h2 {
  margin: 0;

  font-size: 52px;
  color: var(--white);
}

.nav-card {
  flex: 1 1 350px;
  padding: 24px;
  background-color: var(--white);

  text-decoration: none;
}

.nav-card > span {
  margin-bottom: 40px;
  font: 64px/1 Neucha, cursive;
  color: var(--main-dark);
}

.nav-card > h3 {
  color: var(--main);
  margin-bottom: 16px;
}

.nav-card > p {
  color: var(--dark);
}

.nav-card:hover {
  background-color: var(--main);
}

.nav-card:hover > span,
.nav-card:hover > h3,
.nav-card:hover > p {
  color: var(--white);
}

.text-orange {
  color: var(--main);
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.row-gap-20 {
  row-gap: 20px;
}

.col-gap-30 {
  column-gap: 30px;
}
